.button-design
{
    padding: 4px;
    border-radius: 10px;
}

.container
{
    border: 1px solid black;
    padding: 5px;
    background-color: #222222;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 10px;
    border-radius: 10px;
}

h1
{
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
}

h2
{
    color: black;
    font-weight: bold;
}

div
{
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
}

p
{
    font-size: 10px;
}