
<div class="text-center">
  <h2>Create post</h2>
  <form #createFormInput="ngForm" (ngSubmit)="createPost(createFormInput.value.description)">

      <textarea class="textarea" #textareaInput="ngModel" ngModel required maxlength="100"
        name="description" id="description" cols="70" rows="3" placeholder="Enter description...">
      </textarea>
      <br>
    <button class="btn-success button-design" color="primary">
      Save Post
    </button>
  </form>
</div>
<br>
<div *ngFor="let post of posts" class="container text-center">
  <div><h1>{{ post.userId }}</h1></div>
  <hr>
  <div>{{ post.desc }}</div>
  <div>Date Posted: {{ post.createdAt }}</div>
  <br>
  <div>
    <button class="button-design" (click)="deletePost(post._id)">Delete</button>
  </div>
</div>
