h1
{
    text-align: center;
}

.middle
{
    width: 100%;
    background-color: white;

}

img
{
    width: 50px;
}

div
{
    height: 900px;
}

.button-design
{
    padding: 4px;
    border-radius: 10px;
}

.container
{
    display: block;
    border: 1px solid black;
    padding: 5px;
    background-color: #222222;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

p
{
    text-align: center;
}
h1
{
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
}