<div class="text-center">
<!-- Code for maps -->     
 <div class="margin-top" id="maps"style="maps"><iframe width="50%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=123%20Times%20Square%20Ave+(Coffee%20One%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe></div>
 <div>
    <h2>Contact: ###-###-####</h2>
 </div>
</div>