.card1
{
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.container
{
    border: 1px solid #222222;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

input
{
   border-top: 0px;
   border-right: 0px;
   border-left: 0px;
   padding-bottom: 5px;
}

.padding-button 
{
    padding: 10px;
}

.center-design
{
    text-align: center;
}

h1
{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

hr
{
    color: black;

}

p 
{
    color: black;
}

button
{
    margin: 5px;
}

main
{
    padding-top: 200px;
    background-image: url("https://wallpapercrafter.com/th8004/1246035-nyc-new-york-city-manhattan-travel-metropolis.jpg");
    background-size: cover;
    height: 850px;
}