    <!-- <form name="inform" method="post" (ngSubmit)="submit()"></form>-->
    <main>
    <div class="container"><div class="center-design">
      <h1>Login</h1>
      <hr>
      <form (ngSubmit)="submit()">
        <div class="form-group">
          <input name="email" type="text" placeholder="Email" [formControl]="form.controls.email">
        </div>
        <div class="form-group">
          <input name="password" type="password" autocomplete="on"
                 placeholder="Password" minlength="5" [formControl]="form.controls.password">
        </div>
        <div class="padding-button">
          <button type="reset" class="btn btn-primary mt-4">Reset</button>
          <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </div>
      </form>
      <div>
        <p>Don't have an account? <a routerLink="/register">Click Here</a></p>
      </div>
    </div>
  </div>

  <div *ngIf="errorValidation">
    {{ errorValidationMessage }}
  </div>

</main>