h3{
  color: blue;
}

.image-center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
}
.color-green
{
  background-color: #222222;
  color: white;
}

img 
{
  width: 30px;
}

.right-side
{
  text-align: end;
}


footer{
  margin-top: auto;
}

.columnar{
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

*
{
  color: white;
}

 .nav-item:hover
{
  background: white;
  color: #222222;
}